# Operating system files 
# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows thumbnail cached files
Thumbs.db
ehthumbs.db

# IDE | build tool dirs
.idea/
*.iml
*.ipr
*.iws
*.vscode/
.gradle/
.settings/
.project
.classpath

edge/src/main/java/de/htwsaar/minicdn/edge/db/

target